<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 - Thursday, March 30th</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>09:00 AM</td>        <!-- time    -->
        <td><a href = "https://swcarpentry.github.io/shell-novice/">The Unix Shell</a> with Rayvn Manual</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:00 AM</td>        <!-- time    -->
        <td>Lunch Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:00 PM</td>        <!-- time    -->
        <td><a href = "https://swcarpentry.github.io/git-novice/"> Version Control with Git</a> with Rayvn Manual</td>        <!-- content -->
      </tr>
       <tr>               <!-- row 1   -->
        <td>02:00 PM</td>        <!-- time    -->
        <td>End of Day 1</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2 - Tuesday, April 4th</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Preparation</td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>09:00 AM</td>        <!-- time    -->
        <td><a href = "https://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro/index.html">Introduction to R and RStudio</a> with Stacey Borrego</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td><a href = "https://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1/index.html">Data Structures</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td><a href ="https://swcarpentry.github.io/r-novice-gapminder/05-data-structures-part2/index.html">Exploring Data Frames</a> and 
          <a href = "https://swcarpentry.github.io/r-novice-gapminder/06-data-subsetting/index.html">Subsetting Data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:00 AM</td>        <!-- time    -->
        <td>Lunch Break</td>        <!-- content -->
      </tr>
       <tr>               <!-- row 1   -->
        <td>12:00 PM</td>        <!-- time    -->
         <td><a href = "https://swcarpentry.github.io/r-novice-gapminder/07-control-flow/index.html">Control Flow</a></td>        <!-- content -->
      </tr>
       <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td><a href = "https://swcarpentry.github.io/r-novice-gapminder/07-control-flow/index.html">Plotting with ggplot2</a></td>        <!-- content -->
      </tr>
      </tr>
       <tr>               <!-- row 1   -->
        <td>02:00 PM</td>        <!-- time    -->
        <td>End of Day 2</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3 - Thursday, April 6th</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>09:00 AM</td>        <!-- time    -->
        <td><a href = "https://swcarpentry.github.io/r-novice-gapminder/09-vectorization/index.html">Vectorization</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td><a href = "https://swcarpentry.github.io/r-novice-gapminder/10-functions/index.html">Functions</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td><a href = "https://swcarpentry.github.io/r-novice-gapminder/12-plyr/index.html">Splitting and Combining Data Frames with plyr</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00 AM</td>        <!-- time    -->
        <td>Lunch Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>12:00 PM</td>        <!-- time    -->
        <td><a href = "https://swcarpentry.github.io/r-novice-gapminder/13-dplyr/index.html">Data Frame Manipulation with dplyr</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/14-tidyr/index.html">Data Frame Manipulation with tidyr</a></td>        <!-- content -->
      </tr>
       <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td><a href = "https://swcarpentry.github.io/r-novice-gapminder/15-knitr-markdown/index.html">Producing Reports with knitr</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
